.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    padding: 15px10px;
    background-color: skyblue;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    border: none;
    width:100px;
}
button:disabled{
    background-color: grey;
    opacity: 0.8;
    color: white;
}
.block{
    width: 320px;
    background: linear-gradient(270deg,blue,red);
    height: 350px;
    display: flex;
}
